{% block content %}
{% include "header.html" %}
    <hr>
    <section id="about">
        <div class="container-fluid">
            <div class="about-me">
                <h2 class="about-title">Who am I, and what do I do?</h2>
                <p class="about-body">My name is Mike. I'm learning Python in hopes of starting a career in development. My main interests are in software development, but front and/or backend web development interest me as well.<br><br>
                    I've created this website as an introduction to the projects I have worked on so far. Everything on here currently is just personal projects to help build my skills as a new developer.
                </p>
            </div>
        </div>
    </section>

    <section id="portfolio">
        
        <div id="portfolio-carousel" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">
                
                <div class="carousel-item active">
                    <h3 class="port-item-text">Morse Code Translator</h3>
                    <a href="https://github.com/HolyMikeB/morse-code-translator/blob/master/main.py"><img class="port-image" src="https://2.bp.blogspot.com/_9w-e2Ulder8/S8k8bblJ-xI/AAAAAAAAAY0/cYkqH4aDBGU/s1600/morsecodeNumbers.jpg" alt="morse code"></a>
                </div>
                <div class="carousel-item">
                    <h3 class="port-item-text">Tic Tac Toe</h3>
                    <a href="https://github.com/HolyMikeB/tic-tac-toe"><img class="port-image" src="https://www.clipartkey.com/mpngs/m/110-1100210_tic-tac-toe-png.png" alt="tic tac toe"></a>
                </div>
                <div class="carousel-item">
                    <h3 class="port-item-text">Image Watermarker</h3>
                    <a href="https://github.com/HolyMikeB/image-watermarker"><img class="port-image" src="images/7c123424fe198ed99627dd4052f9fcc1.png" alt="watermarked image"></a>
                </div>
                <div class="carousel-item">
                    <h3 class="port-item-text">Typing Speed Test</h3>
                    <a href="https://github.com/HolyMikeB/typing-test"><img class="port-image" src="images/596fc8a99e2a947316c0869c3480f0f5.png" alt="person typing"></a>
                </div>
                <div class="carousel-item">
                    <h3 class="port-item-text">Breakout</h3>
                    <a href="https://github.com/HolyMikeB/breakout"><img class="port-image" src="images/8f29fd435c64d0db91b5622042333a1d.png" alt="The game Breakout"></a>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#portfolio-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#portfolio-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>

        </div>

    </section>

{% include "footer.html" %}
{% endblock %}